@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        @if (Model.Book != null)
        {
            foreach (var item in Model.Book)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="@item.ImageUrl" class="card-img-top" alt="Book Image">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@item.Author</p>
                            <p class="card-text">$@item.Price</p>
                            <form method="post" asp-page-handler="AddToCart" asp-route-id="@item.ID">
                                <button type="submit" class="btn btn-primary">Add to Cart</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
